@model IEnumerable<DataAccess.Models.Tables.Empleados>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/bootstrap.js"></script>

<div>
    <a href="" class="btn btn-success">Agregar</a>
</div>
<br />
<table class="table table-hover">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </th>*@
        <th>
            <label class="form-label">Nombre</label>
        </th>
        <th>
           <label class="form-label">Apellido Paterno</label>
        </th>
        <th>
           <label class="form-label">Apellido Materno</label>
        </th>
        <th>
            <label class="form-label">Fecha de Nacimiento</label>
        </th>
        <th>
            <label class="form-label">Fecha de Contratación</label>
        </th>
        <th>
            <label class="form-label">Teléfono</label>
        </th>
        <th>
            <label class="form-label">Correo Electrónico</label>
        </th>
        <th>
            <label class="form-label">Estado</label>
        </th>
        <th>
            <label class="form-label">Cargo</label>
        </th>
        <th>
            <label class="form-label">Departamento</label>
        </th>
        <th>
            <label class="form-label">Editar</label>
        </th>
        <th>
            <label class="form-label">Eliminar</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.EmpleadoId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaContratacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartamentoId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EmpleadoId }, new { @class="btn btn-primary"} ) 
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.EmpleadoId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
